/*Basic browser reset*/
*{
	margin: 0;
	padding: 0;
}

/*IE img inside of link fix*/
a img{
	border: none;
}

body{
	background-color: #EDEDED;
}

#wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
}

#jlogo{
	margin-top: 10px;
}

#header{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;
}

#header img{
	margin-left: auto;
	margin-right: auto;
}

#title{
	position: absolute;
	left: 716px;
	top: 0px;
}

#video {
	text-align: center;
}

#nav{
	
	width: 1024px;
	height: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 200px;
}

.weeks{
	text-align: center;
	width: 396px;
}

.weeks a{

}

.weeks a:hover img{
	width: 394px;
	height: 70px;
	margin-bottom: 17px;

}

.week{
	margin-top: 15px;
	margin-bottom: 15px;
}

#left{
	float: left;
	margin-left: 50px;
}

#right{
	float: right;
	margin-right: 67px ;
}

#endlogo{
	text-align: center;
}
